html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    paddin: 0px;
}

.button-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    paddin: 0px;
}

.button {
    display: block;
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: red;
    margin: 0 auto;
}
