html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: rgb(242, 241, 239);
}

body {
  min-height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  margin: auto;
  paddin: 0px;
  vertical-align: middle;
}

.button-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  paddin: 0px;
  vertical-align: middle;
}

.button {
  display: block;
  width: 80%;
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
  color: rgb(0, 177, 106);
  background: rgb(218, 223, 225);
  margin: 10px auto;
  font-size: 2rem;
  text-align: center;
}

.button-like {
  height: 60%;
}

.button-hi{
  height: 30%;
}

.button-icon {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.button-icon-like {
  background-image: url("../image/hiLike.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button-icon-hi {
  background-image: url("../image/hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
